.ventana-ver-publicacion,.ventana-borrar-publicaciones,.ventana-visualizar-publicacion{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 98%;
}

.ventana-visualizar-publicacion{
    box-sizing: border-box;
    display: none;
    padding: 1rem;
    border: 1px solid var(--color-nav);
}

.titulo-publicacion-visualizar{
    text-align: left;
}


.articulo{
    width: 100%;
    border: 2px solid var(--color-nav);
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-articulo{
    position: absolute;
    right: 2%;
    top: 10%;
    display: flex;
    justify-content: space-around;
    width: 20%;

}

.titulo{
    text-align: left;
}


/*Borrar publicaciones*/
.publicaciones-usuario-borrar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-nav);
    margin: 1rem;
}

.titulo-borrar{
    width: 7rem;
}

.btn-borrar{
    margin: 0;
}


.input-contenido-publicacion,.input-introduccion-publicacion{
    resize: none;
}

.contenedor-articulo{
    border: 1px solid var(--color-nav);
}


.container-btn-publicacion{

    display: flex;

}

.btn-playground{
    margin-left: 2rem;
    margin-top: 2rem;
}

.botonera-playground{
    display: flex;
    border: 1px solid white;
}

.playground-si,.playground-no{
    padding: 1rem;
   
}
.playground-si{
    border-right: 1px solid white;
}

.marcar-playground{
    color: black;
    background-color: white;
}

.titulo-playground{
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}



