.inicio-sesion{
    display: flex;
    position: fixed;
    background-color: black;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

.container-inicio{
    width:  50vw;
    height: 60vh;
    border: 1px solid var(--color-nav);
    margin: auto;
    display: flex;
    padding: 1rem;
    border-radius: 5%;
     
}

.elementos-inicio{
    margin: auto;
}

.container-input-usuario{
    margin-bottom: 1rem;
}

.input-usuario,.input-contrasena{
    width: 80%;
    margin-left: 5px;
}

.btn-usuario{
    margin-right: 1rem;
}

.titulo-inicio-sesion{
    font-size: 2.5rem;
}

.container-input{
    display: flex;
    align-items: center;
}
/*ANIMACION INICIO SESION FALLIDO*/

.animacion-icono{
    color: red;
}

.ocultar{
    display: none;
}

.permiso-escritura{
    height: 100%;
}