.contenedor-playground{
    width: 100%;
    display: flex;
    margin: auto auto;
}
.playground-publicacion{
   
    background-color: white;

}

/*Matriz de adyacencia*/
.matriz-adyacencia{
    width: 30%;
    height: 100%rem;
    background-color: red;
}


.btns-matriz-adyacencia{
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-limpiar,.btn-limpiar-aristas{
    font-size: 1rem;
    margin: 0;
    margin-right: 0.5rem;
}


.vecindad-arista{
    width: fit-content;
}

.aristas{
    box-sizing: border-box;
    padding: 1rem;
}