:root{
    --font-btns: 1.5rem;
    --font-titulo-principal : 3.5rem;
    --font-color:white;
    --color-nav: #006DB2;
    --color-transicion:#4E97D1;
    --border-color: black;
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'League Gothic', sans-serif;
    color: var(--font-color);
}

/*Contenido principal*/
main{
    display: flex;
    flex-direction: row;
    
}


/*Seccion principal*/
.seccion-principal{
    width:  85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   /* justify-content: center;*/
    align-items: center;
    
}

/*Titulo seccion principal*/
h1{
    font-size: var(--font-titulo-principal);
    height: 5%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*BOTONERA PANTALLA PRINCIPAL*/

nav{
    width: 15vw;
    height: 100vh;
    background-color: var(--color-nav);
    display: flex;
    flex-direction: column;
}

.btn-nav{
    height: 33.3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-btns);
    cursor: pointer;
}

.btn-nav:hover{
    transition-duration: 500ms;
    background-color: var(--color-transicion);
}