.ventana-crear-publicacion{
    display: none;
    width: 98%;
    height: 95%;
    background-color: var(--color-nav);
}

.contenido-ventana-publicacion{
    margin-left: 1rem;
}

h3{
    font-size: var(--font-btns);
}

input{
    width: 31.5%;
}

.btn-ventanas{
    padding: 1rem;
    font-size: var(--font-btns);
    margin-top: 2rem;
    border: 1px solid var(--font-color);
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}

.contenedor-botones-publicacion-fallida{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-publicacion-aceptar{
    margin: 0;
}