.cartel-publicacion{
    display: none;
    position: fixed;
    flex-direction: column;
    left: 40%;
    top:  30%;
    height: 30vh;
    width: 40vh;
    background-color: var(--color-nav);
    border: 1px solid var(--border-color);
}
h2{
    text-align: center;
   
}

.titulo-alerta{
    margin: 3rem 1rem;
}

.contenedor-botones-alerta{
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.btn-publicacion-si{
    margin-right: 1.5rem;
}